<h1>TaskManager#destroy</h1>
<p>Find me in app/views/task_manager/destroy.html.erb</p>

<%= link_to "Delete", taskmanager_path(taskmanager),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
